<div class="container">
    <div class="row">
        <div class="col-md-2">
            <app-menu></app-menu>
        </div>
        <div class="col-md-10">

            <br><br>
            <div class="col-md-1 col-lg-1 col-xl-1 ">
                <img src="../../assets/img/agenda.png" alt="logo" style="width:60px; ">
            </div>

            <div class="col-md-11 col-lg-11 col-xl-11 ">
                <h5>CLIENTE</h5>
            </div>

            <div class="col-md-12 col-lg-12 col-xl-12" style="text-align: right;">
                <button type="button" class="btn btn-info"> + Agregar</button>
            </div>

            <br><br><br><br><br><br>


            <table class="table table-hover" style="background-color:white;">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Maricruz Gonzalez Ledesma</td>
                        <td>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6" style="text-align:right;">
                                    <a href="#" class="btn btn-warning">Editar</a>
                                </div>

                                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6" style="text-align: left;">
                                    <button type="button" class="btn btn-danger">Eliminar</button>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Maricruz Gonzalez Ledesma</td>
                        <td>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6" style="text-align:right;">
                                    <button type="button" class="btn btn-warning">Editar</button>
                                </div>

                                <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4" style="text-align: left;">
                                    <button type="button" class="btn btn-danger">Eliminar</button>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>


            <form action="">
                <label>CLIENTE</label>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="nombre">Nombre*:</label>
                        <input type="text" class="form-control" id="nombre" required>
                    </div>
                    <div class="col">
                        <label for="aPaterno">Apellido Paterno*:</label>
                        <input type="text" class="form-control" id="aPaterno" required>
                    </div>
                    <div class="col">
                        <label for="fNacimiento">Apellido Materno*:</label>
                        <input type="text" class="form-control" id="aMaterno" required>
                    </div>
                </div>
                <br>
                <div class="row">

                    <div class="col-lg-4">
                        <label for="telefono">Telefono:</label>
                        <input type="tel" class="form-control" id="telefono">
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col">
                        <label for="calle">Calle*:</label>
                        <input type="text" class="form-control" id="calle">
                    </div>
                    <div class="col">
                        <label for="col">Colonia*:</label>
                        <input type="text" class="form-control" id="col">
                    </div>
                    <div class="col">
                        <label for="num">Número*:</label>
                        <input type="number" class="form-control" id="num">
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6" style="text-align:right;">
                        <button type="button" class="btn btn-success">Aceptar</button>
                    </div>

                    <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4" style="text-align: left;">
                        <button type="button" class="btn btn-danger">Cancelar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>