<div class="col-lg-10" style="background: url('../../assets/img/logoMA.png'); width: 100%; height: 50vh;">
        <h3> 
            <img src="../../assets/img/agenda.png" alt="logoCliente" class="tamImg">
            Cliente
        </h3>

        <div class="col-md-12 col-lg-12 col-xl-12" style="text-align: right;">
            <a href="altacliente.html" class="btn btn-info">+ Agregar</a>
        </div>

        <table class="table table-hover colorB">
            <thead>
                <tr>
                    <th></th>
                    <th></th>   
                    <th>Nombre</th>
                </tr>
            </thead>
    
            <tbody>
                <tr>
                    <td class="tamCol">
                        <a href="#" class="btn btn-warning">Editar</a>
                    </td>
                    <td class="tamCol">
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </td>
    
                    <td id="listaClientes">Maricruz Gonzalez Ledesma</td>
                </tr>
            </tbody>
        </table>
</div>