<app-menu></app-menu>

<div class="container">
  
    <h3>
        <img src="../../../assets/img/agenda.png" alt="logoCliente" class="tamImg"> Cliente
    </h3>

    <div class="col-md-12 col-lg-12 col-xl-12" style="text-align: right;">
        <a routerLink='/cliente/agregar' class="btn btn-info">
            <img src="../../assets/img/agregar-usuario.png" class="tamId"> Agregar
        </a>
    </div>
    
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-hover scrollTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        
                        <td> <a href="#" class="btn btn-warning">
                            <img src="../../assets/img/editar.png" class="tamI"> Editar
                          </a>
                          &nbsp;
                          <button type="button" class="btn btn-danger">
                              <img src="../../assets/img/basura.png" class="tamI"> 
                              Eliminar
                          </button></td>
                        <td>Maricruz</td>
                    </tr>
                </tbody>
            </table>
        </div>
    

  </div>
