<div class="list-group">
    <a style="background-color: #EBC097;" routerLink='/principal' class="list-group-item">INICIO</a>
    <a style="background-color: #EBC097;" routerLink='/cliente' class="list-group-item">CLIENTE</a>
    <a style="background-color: #EBC097;" routerLink='/empleado' class="list-group-item">EMPLEADO</a>
    <a style="background-color: #EBC097;" routerLink='/producto' class="list-group-item">PRODUCTO</a>
    <a style="background-color: #EBC097;" routerLink='/venta' class="list-group-item">VENTA</a>
</div>