
<div class="list-group col-sm-3 col-md-2 col-xl-2" style="width: 200px;" >
    <a style="background-color: #EBC097;" routerLink='/principal' class="list-group-item">INICIO</a>
    <a style="background-color: #EBC097;" routerLink='/cliente' class="list-group-item">CLIENTE</a>
    <a style="background-color: #EBC097;" routerLink='/empleado' class="list-group-item">EMPLEADO</a>
    <a style="background-color: #EBC097;" routerLink='/producto' class="list-group-item">PRODUCTO</a>
    <a style="background-color: #EBC097;" routerLink='/venta' class="list-group-item">VENTA</a>
    <a style="background-color: #EBC097;" routerLink='/adeudo' class="list-group-item">ADEUDOS</a>
</div>