<div class="col-lg-10" style="background: url('../../assets/img/logoMA.png'); width: 100%; height: 50vh;">
    <h3> 
        <img src="../../assets/img/" alt="logoCliente" class="tamImg">
        ADEUDOS
    </h3>


    <table class="table table-hover table-striped table-bordered colorB">
        <thead>
            <tr>
                <th class="tamColD" ></th>
                <th >Folio</th>
                <th >Cliente</th>
                <th >Adeudo</th>
                <th class="tamCol"></th>
                <th class="tamCol"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> <button type="button" class="btn btn-info">Ver</button></td>
                <td id="folioC">0001</td>
                <td id="nombreC">Maricruz Gonzalez Ledesma</td>
                <td id="adeudo">$10.00</td>
                <td ><button type="button" class="btn btn-info">Saldar</button></td>
                <td ><button type="button" class="btn btn-info">Abonar</button></td>
            </tr>

            
        </tbody>
    </table>
    <br>
</div>