<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body background="../../assets/img/logoMA.png">

    <div class="formHeader">
        <div class="g-pl-0 col-sm-3 col-md-2 col-xl-2">
            <div class="g-pr-0 col-md-12 col-lg-12 col-xl-12">
                <div class="col-md-12 col-lg-12 col-xl-12 ">
                    <img src="../../assets/img/logoV.png" alt="logo" style="width:180px; ">
                </div>
            </div>
        </div>

        <div class="col-md-10 col-sm-10 col-lg-10 col-xl-10" style="text-align: center; ">
            <div class=" g-pr-0 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h4><span>
          Citricos selectos <br>
          GYM <br>
          Central de Abastos, Bodega B22, Queretaro, Qro <br>
          4424864534
        </span></h4>
            </div>
        </div>
    </div>
</body>