<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body background="../../assets/img/logoMA.png">

    <div class="formHeader">
        <div class=" col-sm-3 col-md-2 col-xl-2">
          <img src="../../assets/img/logoV.png" alt="logo" style="width:180px; ">      
        </div>

        <div class="col-md-10 col-sm-10 col-lg-10 col-xl-10 textA" >
                Citricos selectos <br>
                GYM <br>
                Central de Abastos, Bodega B22, Queretaro, Qro <br>
                4424864534
            
        </div>
    </div>

</body>
    
