<div class="" >
  <div class="col-lg-2">
    <app-principal></app-principal>
  </div>
    
  <div class="col-lg-10">
    <br><br>
    <div class="col-md-1 col-lg-1 col-xl-1 ">
        <img src="../../assets/img/frutas.png" alt="logo" style="width:60px; ">
    </div>
    
    <div class="col-md-11 col-lg-11 col-xl-11 ">
        <h5>PRODUCTO</h5>
    </div>

    <div class="col-md-12 col-lg-12 col-xl-12" style="text-align: right;">
      <button type="button" class="btn btn-info"> + Agregar</button>
  </div>
      
  <br><br><br><br><br><br>



    <div class="card" style="width:125px; text-align: center;">
      <img class="card-img-top" src="../../assets/img/producto_1.png" style="width:60%; height: 65px;">
      
      <div class="card-body">
        <h4 class="card-title">Naranja</h4>
        <p class="card-text">
            $10.00 KG   
        </p>
        <a href="#" class="btn btn-warning"> 
            <img src="../../assets/img/editar.png" style="width:40%; height: 10%;" >
            Editar</a>
      </div>
    </div>
    <br>
    
  </div>


